/* Universal Styles */

html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
}

/* Header and Banner Section */

.banner {
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
}

.header {
  display: flex;
  position: relative;
  top: 1rem;
  align-items: center;
  justify-content: space-between;
  background-color: cadetblue;
  font-size: 1rem;
  color: white;
  padding: 1rem 2rem;
}

.navigation li {
  padding-left: 1rem;
}

.navigation {
  display: flex;
  /*justify-content: space-around; ???not working???*/
}

.logo {
  display: flex;
}

.logo img {
  height: 1.5rem;
  padding-right: 1rem;
}

.headline {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  top: 10rem;
  right: 2rem;
  background-color: white;
  padding: 1.5rem 5rem;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .header {
    top: 0rem;
  }

  .banner {
    height: 22rem;
  }

  .headline {
    top: 5rem;
    padding: 0.75rem 4rem;
  }

  h1 {
    font-size: 1.33rem;
  }
}

@media only screen and (max-width: 470px) {
  .logo span {
    display: none;
  }

  .navigation {
    display: none;
  }

  .mobile-nav {
    display: flex;
    justify-content: flex-end; /* wont move menu? */
  }

  .banner {
    height: 17rem;
    background-position: 20%;
  }

  .headline {
    top: 9rem;
    right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: auto; /* auto wont pull across entire banner*/
  }

  h1 {
    font-size: 1rem;
    text-align: center;
  }

}

/* Services Section */

.services {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  height: 8rem;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 3rem;
}

.paper img {
  width: 3.5rem;
}

.ruler img,
.truck img {
  width: 5rem;
}

@media only screen and (max-width: 470px) {
  .services {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 3.77rem;
  }

  .services span {
    font-size: 0.77rem;
  }

  .ruler,
  .truck {
    padding-top: 1.54rem;
  }

}

/* Business Information Section */

.business-info {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.info {
  width: 35%;
  padding-right: 5%;
}

.title {
  font-weight: bold;
  font-size: 1rem;
  color: white;
  background-color: cadetblue;
  padding: 0.5rem 3rem 0.5rem 1.25rem;
  width: 10rem;
}

.info p {
  margin-top: 1rem;
}

@media only screen and (max-width: 470px) {
  .business-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3.77rem;
  }

  .info {
    width: auto;
  }

  .info p {
    font-size: 0.77rem;
    padding-bottom: 4rem;
  }

  .title {
    display: block;
    text-align: center;
    width: auto;
  }

}

/* Footer Section */

.copyright {
  display: flex;
  align-items: center;
  background-color: azure;
  margin-top: 5rem;
}

.copyright img {
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}

@media only screen and (max-width: 470px) {
  .copyright span {
    display: none;
  }

  .copyright {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }

  .copyright img {
    padding: 4rem;
  }

}
